<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--    <uses-permission android:name="android.permission.CALL_PHONE"/>-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:name=".Ads.ApplicationClass"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JazzPackages"
        tools:targetApi="31">
        <activity
            android:name=".DetailPage"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CodesModel"
            android:screenOrientation="portrait"
            android:exported="false" />


        <activity
            android:name=".Packages"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.JazzPackages">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:colorMode="default"
            android:exported="false"
            android:label="Jazz Network Sim Packages"
            android:screenOrientation="portrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
                android:value="true" />
            <meta-data
                android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
                android:value="true" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <service
            android:name=".FirebaseMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:replace="android:theme" />
    </application>

</manifest>